@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
.mySlides {
  display:none;
  height:40em;
}
a{
  text-decoration: none;
}
body {

  font-family: "Lato", sans-serif;
}

#food {
  height: 80%;
}

#food img{
  width: 272px;
  height: 272px;
  padding: 1.0em;
}

.max-lines {
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.checked {
  color: orange;
}

.hidden{
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 75%;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: #ffec00;
    width: 8%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    font-size: 1em;
}

.searchbtn .fas{
	  position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12em;
}

.wrapper1 {
  justify-content: center;

  width: auto;
}

.wrapper1 i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.wrapper1 a:nth-child(1) {
  color: #dd4b39;
}
.wrapper1 a:nth-child(2) {
  color: #4867AA;
}
.wrapper1 a:nth-child(3) {
  color: #1DA1F2;
}
.wrapper1 i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}




#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .searchbtn { width: 2%;}

}

#pageCurrent{
  margin: 0 2em;
}


/* SLIDER STYLES */

.mySlides {display:none}
      .w3-left, .w3-right, .w3-badge {cursor:pointer}
      .w3-badge {height:13px;width:13px;padding:0}
      #map {
        height: 400px;
        width: 50%;
        margin-right:2.5em;
        background-color: #c2e858;
        }

        rating {
  display: flex;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.rating__stars {
  display: inline;
}

.rating__score {
  padding-right: 0.75rem;
}

.stars-outer {
  font-size: 3em;
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f005   \f005   \f005   \f005   \f005";
  color: #F9DBA6;
}

.stars-inner {
  font-size: 3em;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #F5A623;
  height:45px;
}